<!DOCTYPE html>
<html lang="en">


  <body>
    <% let header = "Welcome to the Page"; %>
    <%/*studentData is shown on server side only, and not in browser */%>

    <h1><%= header; %></h1>
    <p><%=  (weatherAPI); %></p> 
    <p><%=  (Object.getOwnPropertyNames(weatherAPI)); %></p> <%/*gets property names*/%>
    <p><%=  (Object.getOwnPropertyNames(weatherJS)); %></p>
    <p><%/* = (weatherAPI.weather['0'].description); */%></p>
    <p><%=  (weatherJS['0'].location.name); %></p>
    <p><%=  (weatherJS['0'].current.temperature); %></p>
    <p><%=  (weatherJS['0'].forecast['0'].day); %></p>


    
  <script src="server.js"></script>
 
  </body>
</html>
