<!DOCTYPE html>
<html lang="en">

  <!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>Weekly Forecast</title>
          <!-- Favicon-->
          <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
          <!-- Bootstrap icons-->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
          <!-- Google fonts-->
          <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
          <!-- Core theme CSS (includes Bootstrap)-->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" rel="stylesheet" />
          <link rel="stylesheet" href="/css/styles.css" />
          <link rel="stylesheet" href="/css/main.css"> 
      </head>
      <body>
          <!-- Navigation-->
          <nav class="class= navbar navbar-dark bg-dark">
              <div class="container">
                  <a class="navbar-brand" href="#" py-0>
                    <img src="\assets\img\rain-weather-svgrepo-com.svg" class="d-inline-block align-top" width="30" style="height: 2.5rem"  alt=" "/>
                    Weather Today
                  </a>
                  <div class="parent d-flex">
                    <a href="/">
                    <button type="button" style="margin:8px;" class="btn btn-primary btn-nav ">Home</button>
                    </a>
                    <a href="/other">
                    <button type="button" style="margin:8px;" class="btn btn-primary btn-nav">More</button>
                    </a>
              </div>
            </div>
          </nav>

      </section>
       <!-- 5 day Weather Forecast with 3 hr Interval  -->
          <section class ="features-icons bg-light text-center ">
            <div class="grid-container">
              <h2 class="mt-0.2">This Week's Forecast</h2>
              <br>
                <% let icon=(weatherAPI['list']); %>
                <% let todayArr=icon[0].dt_txt.split(/[, ]+/); %>       
                <% let today = todayArr[0];%>
                  <div class ="row"> 
                    <div class="col -lg-4">
                    <div style="display:inline-block;">
                      <% for (var j=0; j < icon.length; j++){ %>
                        <% let dayArray = (icon[j].dt_txt.split(/[, ]+/)); %>  
                          <% let dDay = dayArray[0]; %>  
                              <% let timeString= (dayArray[1]);%>
                              <% let dTime = new Date('1970-01-01T' + timeString + 'Z')
                                                 .toLocaleTimeString('en-US',{timeZone:'UTC',hour12:true,hour:'numeric',minute:'numeric'});%>
                                <% if (dDay != today) {; %>
                                    <div class="card" style="width: 10rem;">
                                      <img class="card-img-top" src= <%= ("http://openweathermap.org/img/w/" + icon[j].weather[0].icon + ".png" ); %>  width="1000px" style="height: 8rem"  alt="weather icon" />
                                        <div class="card-body">
                                          <p class="card-text">
                                            <%= dDay; %>
                                            <br>
                                            <%= dTime; %>
                                            <br>
                                            Temp: <%= (Math.floor(icon[j].main['temp']));%>°C
                                            <br>
                                            <%= (icon[j].weather[0].description);%>
                                                  </p>
                                    </div>
                                  </div>
                                  <%}%>
                                  <%}%>
                                </div>
                              </div>
                            </div>
                      </section>
                      <br>

        </body>
</html>
