<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Product</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>

        <body>
        <div class="row">
            <div style="width: 100%;">
                <div style="width: 50%; height: 100px; float: left;"> 
                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-image">
                                        <img src="<%= itemData['photoUrl'][0];%>" width="250px" height="200px" >
                                        <img src="<%= itemData['photoUrl'][1];%>" width="250px" height="200px" >
                                    <h3 class="card-title">
                                        Name: <%= itemData["name"] %>
                                    </h3>
                                </div>
                                <div class="card-content">
                                    <p>Price: <%= itemData["price"] %>
                                        <br> 
                                        Description: <%= itemData["description"] %>
                                    </p>
                                    <% var theader,tbody,tb,tfooter; %> 
                                        theader ="<thead>";
                                            theader+="<tr>";
                                            theader+='<th style="text-align:left" >Date /Time</th>';
                                            theader+="<th>Quantity</th>";
                                            theader+='<th style="text-align:right">Quantity</th>';
                                            theader+="</tr>";
                                            theader+="</thead>";
                                        <ul> 
                                            <% var totalQty = 0; %>
                                            <% for (var index=0, tbody='';  index < hist_array.length; index++){ %> 
                                                tbody += "<tr>"
                                                    +'<td style="text-align:right">'+<%= (hist_array[index].Quantity);%>+'</td>'
                                                    +'<td style="text-align:right">'+<%= hist_array[index].dateCreated.toDate();%>+'</td>'               
                                                    +"</tr>";
                                                tbody += "</tbody>"
                                            <p>Price:  <% totalQty += (hist_array[index].Quantity);%></p>      
                                            <% } %> 
                                        </ul>
                                    Total Quantity: <%= totalQty%> kilos
                                    <form>
                                        <label>Enter Procurement Count: </label>
                                        <input type ="number" id="AddBox"></input>
                                        <input type = 'button' onclick ="addRow()" value = "Add data">    
                                        <button id = "AddBtn"> Add </button>
                                </form> 
                                <script type = "text/javascript"> 
                                    let AddBox = document.getElementById("AddBox");
                                    let AddBtn = document.getElementById("AddBtn");
                                    async function addRow(){
                                        db.collection('items').add({
                                                Quantity: AddBox.value, 
                                                dateCreated: new Date()})
                                            .then(()=>{
                                                alert("data added succesfully");
                                            })
                                            .catch(function(error) {
                                                console.log("Error adding document");
                                            }) 
                                    .catch (function (error) {
                                    console.log("Error getting document: ", error);
                                    });
                                }; 
                            </script>
                          
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-left: 50%; height: 100px; "> 
                    <div class="table-responsive-md">
                        <table class="table">
                        <thead>
                            <tr>
                            <th style="text-align:left">Date/Time</th>
                            <th style="text-align:right">Quantity</th>
                            </tr>
                        </thead>
                        <ul> 
                            <% var totalQty = 0; %>
                            <% for (var index=0;  index < hist_array.length; index++){ %> 
                                <tr>
                                    <td style="text-align:right"><%= (hist_array[index].Quantity);%></td>
                                    <td style="text-align:right"><%= hist_array[index].dateCreated.toDate();%></td>              
                                    </tr>
                                </tbody>  
                                <% totalQty += (hist_array[index].Quantity);%>
                            <% } %> 
                    <p>Total Quantity: <%= totalQty%> kilos </p> 
                </div>
            </div>
            
         </body>
</html>